################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/MYSECCLUI.csproj
/MYSECCLUI.csproj.user
/bin/Debug/net8.0
